body{
    margin: 0;
}
img{
    width: 40px;
    height: 40px;
    position:absolute;
    top: 20;
    left: 5;


}
.flex2{
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: rgb(24, 22, 22);
    height: 50;
}
.flex2{
    color: aliceblue;
    position: relative;
}
button{
    background-color: #04A96D;
    border: 0;
    border-radius: 15px;
    width: 90;
    height: 35;
    position: absolute;
    top: 20;
    right: 20;
    color: aliceblue;
    font-weight: 100;

}
.flex{
    display: flex;
    justify-content: space-between;
        font-family: 'Source Sans Pro', sans-serif;

    flex-wrap: wrap;
    height: 80;
    margin-top: 10;
}
.hh{

    
    margin-left: 10px;
    margin-top:10px ;
}
h4{
    font-family: sans-serif;
    font-size: larger;
    display: inline;

}
.h4, .h, .hh >i{
    margin-top: 20;


}
h5{
    position: relative;
    font-family: sans-serif;

}
.h4{
    position: relative;
    left: 75;


}



    

.a:active{
    background-color: #04A96D;
    
}
   
.h{
    position: absolute;
    left: 170;

}
.hh{
    position: absolute;
    left: 300;
    top: 20px;
}
.flex3{
    display: flex;
    width: 800;
    justify-content: space-between;

}
.flex3>div>i{
    margin-top: 15;
}
.a{
   margin-left: 100px;

}
.two{
    background-color: #04A96D;
    width: 100;
    text-align: center;
}
.flex4{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10;
    right:20 ;
    
}
.flex4>*{
    margin: 20;
    height: 20;
    width: 20;
    

}
.l, .y{
    position: relative;
    display: flex;
    top: -15;
    left: 85;
    width: 10;
    height: 5;
}  
.y{
    left: 110;
} 
.h, .hh{
    left:200px ;
}
    
.hh{
    left: 340px;
}
.menu{
    position: relative;
    top:5px;
    left: 10;
    display: flex;
    width: 30;
}
.home{
    position: relative;
    left:45;
    top: 10px;
    display: flex;
    width: 40;
    height: 30;
}


.x, .xx, .xxc{
    position: relative;
    display: flex;
    left:20;
    top: -15px;
}